

@font-face{font-family: "Roboto-Black";src: url('webagency_images/fonts/Roboto-Black.ttf') format('truetype');}
@font-face{font-family: "Roboto-Light";src: url('webagency_images/fonts/Roboto-Light.ttf') format('truetype');}
@font-face{font-family: "Roboto-Thin";src: url('webagency_images/fonts/Roboto-Thin.ttf') format('truetype');}
@font-face{font-family: "Roboto-Bold";src: url('webagency_images/fonts/Roboto-Bold.ttf') format('truetype');}
@font-face{font-family: "Roboto-Medium";src: url('webagency_images/fonts/Roboto-Medium.ttf') format('truetype');}
@font-face{font-family: "Roboto-BlackItalic";src: url('webagency_images/fonts/Roboto-BlackItalic.ttf') format('truetype');}
@font-face{font-family: "Roboto-LightItalic";src: url('webagency_images/fonts/Roboto-LightItalic.ttf') format('truetype');}
@font-face{font-family: "Roboto-ThinItalic";src: url('webagency_images/fonts/Roboto-ThinItalic.ttf') format('truetype');}
@font-face{font-family: "Roboto-BoldItalic";src: url('webagency_images/fonts/Roboto-BoldItalic.ttf') format('truetype');}
@font-face{font-family: "Roboto-MediumItalic";src: url('webagency_images/fonts/Roboto-MediumItalic.ttf') format('truetype');}
@font-face{font-family: "Roboto-Italic";src: url('webagency_images/fonts/Roboto-Italic.ttf') format('truetype');}
@font-face{font-family: "Roboto-Regular";src: url('webagency_images/fonts/Roboto-Regular.ttf') format('truetype');}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, input, textarea, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin : 0 ;
    padding : 0 ;
    border : 0 ;
    border-radius: 2px;
    font-size : 100% ;
    font : inherit ;
    vertical-align : middle ;
    text-decoration: none;
    list-style: none;
    color: inherit;
}


        /*──────────── global */
body {
    font-size: 0.8em;
    font-family: "Roboto-Regular";
    color: #64686D;
}
h1 {
    font-size: 1.4em;
    margin: 0 0 10px 0;
}
h2 {
    font-size: 1.2em;
    margin: 5px 0 5px 0;
}
h1, h2 {
    font-family: "Roboto-Bold";
    color: rgb(12, 12, 12);
}
b {
    font-family: 'Roboto-Bold';
    font-size: 1.2em;
}
p {
    margin: 0 0 4px 0;
}

section {
    padding-top: 50px;
}

nav {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

.flex ul {
    flex-direction: column;
}

button {
    padding: 5px;
}

.bgblue {
    color: white;
    background: #5CADD3;
    border-bottom: 2px rgb(60, 157, 202) solid;
}

.clrblue {
    color: #5CADD3;
}
.header {
    text-align: center;
    padding: 4px ;
}


        /*───────────── header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 4px;
    height: 45px;
    z-index: 100;
    text-align: center;
    background: white;
}
#logo {
    width: 30%;
    min-width: 120px;
    max-width: 170px;
}
#nav-menu li {
    padding: 0 5px;
}


        /*──────────────── accueil */
#accueil {
    position: relative;
}


#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 55%;
    min-width: 203px;
    margin: 5px;
    position: absolute;
    top: 30%;
    left: 5px;
    text-align: justify;
}

#intro h1 {
    color: white;
    margin: 0 0 5px 0;
}
#intro p {
    margin-bottom: 7px;
}

#slider {
    width: 100%;
    min-height: 126px;
}


        /*─────────────── services */
.flex {
    display: flex;
    flex-direction: column;
}
#computer {
    width: 80%;
    margin: auto;
}
.flex ul {
    flex-direction: column; 
    text-align: justify;
}

        /*─────────────── portfolio */
#portfolio {
    background: #F5F5F5;
}
#nav-portfolio {
    border-radius: 4px;
    height: 30px;
    background: rgb(199, 199, 199);
}

#real {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}
figure {
    position: relative;
    width: 40%;
    margin-top: 5px;
}
figure img {
    width: 100%;
}
figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}
figcaption div {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(46, 46, 46, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
figcaption * {
    border: 0;
    margin-bottom: 0;
    padding: 2px;
    color: white;
}



        /*──────────────── contact */
#form {
    text-align: center;
    padding: 15px;
}
#form .header p {
    margin: 0;
}
form p {
    margin: 10px 0;
}
input, textarea {
    border: rgb(168, 163, 163) 1px solid;
    width: 50%;
    padding: 5px 0 5px 15px;
}
iframe {
    width: 100%;
    height: 300px;
}